<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposeDemos"
        tools:targetApi="31">
        <activity
            android:name=".unit3.MaterialThemeDemo"
            android:exported="true"
            android:label="@string/title_activity_material_theme_demo"
            android:theme="@style/Theme.JetpackComposeDemos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".unit3.ScrollableListGridDemo"
            android:exported="true"
            android:label="@string/title_activity_scrollable_grid_demo"
            android:theme="@style/Theme.JetpackComposeDemos">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".unit3.ScrollableGridDemo"
            android:exported="true"
            android:label="@string/title_activity_scrollable_grid_demo"
            android:theme="@style/Theme.JetpackComposeDemos">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".unit3.ScrollableListDemo"
            android:exported="true"
            android:label="@string/title_activity_scrollable_list_demo"
            android:theme="@style/Theme.JetpackComposeDemos">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->
        </activity>
        <activity
            android:name=".unit2.CalculateCustomTipActivity"
            android:exported="true"
            android:label="@string/title_activity_calculate_custom_tip"
            android:theme="@style/Theme.JetpackComposeDemos" />
        <activity
            android:name=".unit2.TipTime"
            android:exported="true"
            android:label="@string/title_activity_tip_time"
            android:theme="@style/Theme.JetpackComposeDemos" />
        <activity
            android:name=".unit2.PracticeClickBehavior"
            android:exported="true"
            android:label="@string/title_activity_practice_click_behavior"
            android:theme="@style/Theme.JetpackComposeDemos" />
        <activity
            android:name=".unit2.DiceRollerApp"
            android:exported="false"
            android:label="@string/title_activity_dice_roller_app"
            android:theme="@style/Theme.JetpackComposeDemos" />
        <activity
            android:name=".unit1.BusinessCardApp"
            android:exported="true"
            android:label="@string/title_activity_business_card_app"
            android:theme="@style/Theme.JetpackComposeDemos" />
        <activity
            android:name=".unit1.ComposeQuadrant"
            android:exported="true"
            android:label="@string/title_activity_compose_quadrant"
            android:theme="@style/Theme.JetpackComposeDemos" />
        <activity
            android:name=".unit1.TaskManager"
            android:exported="false"
            android:label="@string/title_activity_task_manager"
            android:theme="@style/Theme.JetpackComposeDemos" />
        <activity
            android:name=".unit1.ComposeArticle"
            android:exported="false"
            android:label="@string/title_activity_compose_article"
            android:theme="@style/Theme.JetpackComposeDemos" />
        <activity
            android:name=".MyActivity"
            android:exported="true"
            android:label="@string/title_activity_my"
            android:theme="@style/Theme.JetpackComposeDemos" />
        <activity
            android:name=".unit1.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.JetpackComposeDemos" />
    </application>

</manifest>